{% extends "base.html" %}
{% block title %}{{ question_name }}{% endblock title %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important { color: #336699; }
</style>
<link rel="stylesheet" data-name="vs/editor/editor.main" href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs/editor/editor.main.min.css" />
{% endblock head %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/loader.min.js"></script>
<script>
    var text_question = `{{ question_text | safe }}`;
    require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs' }});
    require(["vs/editor/editor.main"], () => {
        var question = monaco.editor.create(document.getElementById('question-container'), {
            value: text_question,
            language: 'java',
            theme: 'vs-light',
            readOnly: true,
            tabSize: 2,
            minimap: {
                enabled: false
            }
        });

        var answer = monaco.editor.create(document.getElementById('answer-container'), {
            value: ``,
            tabSize: 2,
            language: 'java',
            theme: 'vs-light',
            minimap: {
                enabled: false
            }
        })
        answer.getModel().onDidChangeContent(content => {
            var user_computed_answer = text_question.replace("[???]", answer.getModel().getValue());
            question.getModel().setValue(user_computed_answer);
            document.getElementById("input-answer").value = user_computed_answer;
        })
    });
</script>
<div class="container">
    <div>
        <h3>{{ question_name }}</h3>
        <div> {{ question_description }}</div>
    </div>
    <div class="mt-4">
        Enter your code in the right-side editor pane. The left-side editor will automatically update to reflect your changes.
    </div>
    <div class="container mt-2">
        <form method="post">
            <div class="row">
                <div class="col-sm">
                    <h4>Context</h4>
                    <div id="question-container" style="height:400px;">

                    </div>
                </div>
                <div class="col-sm">
                    <h4>Enter your code here:</h4>
                    <div id="answer-container" style="height:400px;">

                    </div>
                </div>
            </div>
            <div class="mt-2">
                <input id="input-answer" type="hidden" name="answer" value="test" />
                <input type="submit" class="btn btn-primary" />
            </div>
        </form>
        <div class="mt-4 mb-6">
            <h4>Hints</h4>
            {% if hints_length == 0 %}
                No hints are available for this question.
            {% else %}
            <div class="accordion" id="hints-accordion">
                {% for hint in hints %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            {{ hint.title }}
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            {{ hint.description | safe }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}